<footer id="footer" class="footer-wrap  px-0">
  <div class=" <%- isPost()?'d-flex align-items-center justify-content-between  h-100 w-100':'d-flex flex-column flex-column-reverse justify-content-between  flex-md-row mt-3' %>">
    <div class="footer-copyright py-2">
      <span>
        <i class="bi bi-c-circle"></i>
        <%= new Date().getFullYear() %>
        朝花夕拾
      </span>
      <a target="_blank" href="https://beian.miit.gov.cn/" class="link">陕ICP备2023006859号-1</a>
    </div>
    <div class="footer-social  py-2">
      <a href=""><i class="bi bi-instagram"></i></a>
      <a href=""><i class="bi bi-github"></i></a>
      <a href=""><i class="bi bi-twitter"></i></a>
    </div>
  </div>
</footer>

  