<nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item">
        <a link-page href="#">
          <i class="bi bi-arrow-left"></i>
        </a>
      </li>
      <li class="page-item active"><a link-page href="#">01</a></li>
      <li class="page-item"><a link-page href="#">02</a></li>
      <li class="page-item"><a link-page href="#">03</a></li>
      <li class="page-item">
        <a link-page href="#">
          <i class="bi bi-arrow-right"></i>
        </a>
      </li>
    </ul>
  </nav>