$font-family-mono = "JetBrains Mono", "mono-font", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

:root
  --code-font-family: $font-family-mono
  --color-primary: #e94328
  --text-color-primary: #18191b
  --text-color-regular: #52555a
  --text-color-secondary: #a7abb3
  --color-white: #ffffff
  --color-border: #f6f5fa
  --padding: 15px
  --font-size: 14px
  --font-size-extra-large: 20px
  --font-size-large: 18px
  --font-size-medium: 16px
  --font-size-base: 14px
  --font-size-small: 13px
  --font-size-extra-small: 12px
  --swiper-theme-color: #e94328
