<div class="row justify-content-md-center ">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-5">
        <img class="w-100" src="https://images.unsplash.com/photo-1655657874630-2da5679ef515?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8Mnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="">
      </div>
      <div class="col-md-7">
        <div class="col-md-12 position-relative bg-white p-md-5 about-offset">
          <div class="ps-md-5 " style="font-size: 14px;">
            <div class=" my-4 lh-base">
              <h1 class="my-3 fs-4">李白</h1>
              <div>
                人类总是将世界缩小在自己浅薄的知识范围之内，总是把超越自己理解能力的事物当成威胁自己立场的敌人来对待，非得排斥、驱除、抹杀不可……可是对于同种族的生物，又以肤色、出身来划分阶级贵贱，相互憎恨，相互残杀
              </div>
            </div>

            <div class=" my-4 lh-base">
              <h2 class="my-3">获得奖项</h2>
              <div>
                如果幸福有形状，该是什么样的呢？它就像玻璃，因为平时察觉不到它的存在，而它却时时在我们身边，最有力的证据就是，只要换一个角度，它就会折射出耀眼的光芒，比谁都过分强调自我的存在。
              </div>
            </div>
            <div class="my-4 lh-base ">
              <h2 class="my-3">联系我</h2>
              <div>
                <div class="col-12 mb-3">
                  <input type="text" class="form-control rounded-0" id="inputAddress" placeholder="姓名">
                </div>
                <div class="col-12  mb-3">
                  <input type="text" class="form-control rounded-0" id="inputAddress2" placeholder="联系电话">
                </div>
                <div class="col-12  mb-3">
                  <textarea class="form-control rounded-0" id="inputAddress2" placeholder="请留言"></textarea>
                </div>
                <div class="col-md-12">
                  <button type="button" class="btn btn-dark rounded-0" style="font-size: 0.875rem;">发 送</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>