<link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.7.0/styles/base16/github.min.css" rel="stylesheet">

<div class="row  justify-content-md-center py-5 py-md-0">
  <div class="col-md-9  col-sm-12">
    <div class="my-md-5 d-none d-md-block">
      <svg t="1688579003829" role='button' class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1135" width="20" height="20">
        <path d="M299.373 746.759l45.254-45.255-157.504-157.504L960 544l0-64-772.879 0 157.506-157.506-45.254-45.255-234.761 234.76z" p-id="1136"></path>
      </svg>
    </div>
    <h1 class="mb-4"><%- data.title%></h1>
    <div class="content"><%- data.content%></div>
  </div>
</div>
